#page-header {

    top: 0;
    left: 0;
    width: 100vw;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-nav {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary-light-text-color);

}

.header-nav-list {
    display: flex;
}

.header-nav-item + .header-nav-item {
    margin-left: 56px;
}

.header-nav-item_current {
    position: relative;
    color: var(--accent-color);
}

.header-nav-item_current > a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 20px);
    height: 1px;
    background-color: var(--accent-color);

}

#menu-btn {
    display: none;
    background: none;
    border: none;
    outline: none;
}

#menu-btn > svg {
    height: 32px;
    width: 32px;
}

#menu-btn path {
    fill: var(--primary-light-text-color);
}

@media screen and (max-width: 992px) {
    .header-nav {
        display: none;
    }

    #menu-btn {
        display: initial;
    }
}
