.work-item {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    color: var(--primary-extra-light-text-color);
    background-color: #00aced;
    max-height: 500px;
    width: 100%;
    max-width: 100%;
}

.work-picture {
    transition-property: transform;
    transition-duration: var(--transition-duration-value);

    transition-timing-function: ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.work-item:hover > .work-picture {
    transform: scale(1.2);
    transform-origin: center;
}

.work-picture > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.work-info-container, .work-info-container::before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}


.work-info-container {
    visibility: hidden;
    opacity: 0;
    padding: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    transition-property: opacity;
    transition-duration: var(--transition-duration-value);

}

.work-item:hover > .work-info-container {
    visibility: visible;
    opacity: 1;
}

.work-info-container::before {
    content: '';
    background-color: var(--accent-color);
    opacity: 0.8;
    z-index: -1;
}


.work-info-container > * {
    max-width: 100%;
}

.hr {
    box-sizing: content-box;
    width: 40px;
    border: 2px solid var(--primary-extra-light-text-color);
    margin: 0 0 10px 0;
}

.item-info__title {
    font-size: 2rem;
    text-transform: uppercase;
    max-width: 100%;
}



.item-info__title_transition-margins {
    margin: 50px 0;
    transition-property: margin-bottom, margin-top;
    transition-duration: var(--transition-duration-value);
}

.work-item:hover .item-info__title_transition-margins {
    margin: 20px 0;
}

.work-subtitle {
    font-size: 1.2rem;
}



