@import "./assets/css/reset.css";
@import "./assets/css/variables.css";
@import "./assets/css/grid.css";
@import "./components/header/header.css";
@import "./components/work-item/work-item.css";
@import "./components/blog-item/blog-item.css";

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

.one-line-text-overflow-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
about us
*/
#about-us {
    position: relative;
    height: 40vh;
    background-image: url("./assets/images/bg/Put_Your_Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;

}

#about-us::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.section {
    padding: 150px 0;
}

#works, #blog {
    padding-bottom: 0;
}

.section-title {
    color: var(--primary-title-color);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.text_margins {
    margin-bottom: 2.4rem;
}

.section-details {
    font-size: 1.2rem;
    line-height: 1.5em;
    text-align: center;
}

.work-category-item > input {
    display: none;
}

.work-category-item + .work-category-item::before {
    content: '/';
}

.section__hr {
    border: 4px solid var(--accent-color);
    height: 0;
    width: 0;
    border-radius: 50%;
    position: relative;
    --text-color: #999999;

    margin: auto;
    margin-bottom: 20px;
}

.section__hr::after, .section__hr::before {
    --height: 1px;
    content: '';
    position: absolute;
    top: calc(var(--height) / -2);
    width: 80px;
    border-top: var(--height) solid var(--text-color);
    vertical-align: middle;
}

.section__hr::after {
    left: 20px;
}

.section__hr::before {
    right: 20px;
}

.works-filter {
    text-align: center;
}


